*{
    box-sizing: border-box;
}

main{
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.5rem;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.backdrop{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

/*.toggle-button:active,
.toggle-button:hover {
    background-color: #FFC300;
}*/

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-header__brand{
    color: #224601;
    text-decoration: none;
    font-weight: bold;
    height: 2.5rem;
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img{
    height: 100%;
}

.main-header{
    background-color: #F39C12;
    width: 100%;
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.main-nav__item{
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-nav{
    display: none;
}

.main-nav__item a,
.mobile-nav__item a{
    color: #a31262;
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav a:hover,
.main-header a:active{
    color: #f05518ef;
    border-bottom: 3px #FFC300 solid;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a{
    border:3px #FFC300 solid;
    border-radius: 8px;
    padding: 0.2rem 1rem;
    background-color: #FFC300;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active{
    background-color: #a31262;
    color: #FFC300;
    border: 3px #a31262 solid;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

button{
    background-color: #FFC300;
    font-family: 'Poppins', sans-serif;
    border: 2px #FFC300 solid;
    border-radius: 8px;
    padding: 6px;
    margin: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover,
button:active{
    background-color: white;
    color: #0f1746;
}

button:focus{
    outline: none;
}

.main-footer{
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-footer__link{
    display: inline-block;
    margin: 20px 20px;
}

.main-footer__link a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

.open{
    display: block !important;
}

@media (min-width: 40rem) {

    .toggle-button{
        display: none;
    }

    .main-nav{
        display: inline-block;
        text-align: right;
        width: calc(100% - 100px);
        vertical-align: middle;
    }

    .main-header__brand img {
        margin-left: 1.5rem;
    }
}

